#contactame-form-container {
  width: 100%;
}

#contactame-form-container form {
  background-color: white;
  min-width: fit-content;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: var(--primary-color);
  border-radius: 0.2em;
  max-width: 350px;
  max-height: fit-content;
}

#contactame-form-container form h3 {
  text-align: center;
  color: var(--primary-color);
}
#contactame-form-container .form-input {
  display: flex;
  flex-direction: column;
}
#contactame-form-container .form-input label {
  width: 100px;
  font-weight: 400;
}

#contactame-form-container .form-input input,
textarea {
  width: 100%;
  color: var(--primary-b-color) !important;
  border-radius: 0.2em;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

#contactame-form-container .form-input textarea {
  height: 100px;
}
#contactame-mapa-container {
  width: 100%;
  height: 400px;
}

#contactame-mapa-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contactame-redes-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
}
#contactame-redes-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  text-align: center;
  justify-content: center;
}

#contactame-redes-container i {
  font-size: 2em;
}

#contactame-redes-container span {
  font-size: 0.7em;
}

@media screen and (min-width: 768px) {
  #contactame-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 50%;
  }
  #contactame-datos-container {
    width: 50%;
    max-width: 620px;
  }
}
