#curriculum-date-container {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--terciary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  border: 2px solid white;
}

#curriculum-icon-container {
  font-size: xx-large;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#curriculum-skills-container {
  align-items: center;
}

#curriculum-skills-container section {
  width: 300px;
  /* min-width: 450px; */
}
#curriculum-skills-container section ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#curriculum-skills-container section li {
  display: flex;
  max-height: 100px;
}

#curriculum-descripcion {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  justify-content: center;
  word-wrap: break-word; /* Ajustar el texto para que no se salga del contenedor */
}

#curriculum-descripcion strong {
  text-transform: uppercase;
  white-space: normal; /* Permitir saltos de línea */
}

@media screen and (min-width: 768px) {
  #curriculum-skills-container {
    align-items: normal;
    justify-content: space-between;
    padding-left: 10em;
    padding-right: 10em;
  }
}
