nav a {
  color: white;
  font-weight: 300;
}

#nav-desktop {
  background-color: var(--primary-color);
  color: white;
  height: 4.5em;
  justify-content: space-between;
  align-items: center;
}

#nav-desktop i {
  font-size: 1.4em;
}

#nav-desktop ul {
  text-transform: uppercase;
}

#nav-desktop strong {
  color: var(--secondary-color);
}

#nav-desktop .color-quaternary {
  font-weight: 700;
}

#nav-mobile button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--terciary-color);
  background-color: var(--primary-color);
  color: var(--terciary-color);
  position: fixed;
  /* bottom: 20px; */
  top: 10px;
  right: 10px;
}
#nav-mobile button:hover {
  background-color: var(--terciary-color);
  color: var(--primary-color);
}

#nav-mobile-menu {
  flex-direction: column;
  background-color: var(--primary-color);
  position: fixed;
  right: 0;
  width: fit-content;
  padding-top: 1em;
}

#nav-mobile-menu i {
  font-size: 2.5em;
}

#nav-mobile-menu ul {
  display: flex;
  flex-direction: column;
}
