#ultimos-trabajos {
  flex-direction: column;
}

#todos-los-proyectos-menu-container button {
  background-color: #f8f9fa;
  color: #495057;
  border: 1px solid #dee2e6;
  border-radius: 1em;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}

#todos-los-proyectos-menu-filtro-selected {
  background-color: var(--secondary-color) !important;
  border: 2px solid var(--terciary-color) !important;
}

@media screen and (min-width: 768px) {
  #ultimos-trabajos {
    flex-direction: row;
    justify-content: space-between;
    min-height: 90vh;
  }

  #ultimos-trabajos .card {
    max-height: 400px;
  }

  #ultimos-trabajos .card-body {
    -webkit-line-clamp: 12;
    line-clamp: 12;
  }

  #ultimos-trabajos .hidden p {
    color: var(--quinary-color);
    font-weight: 400;
    font-style: italic;
  }
}
