@use './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: variables.$background-color;
  width: 100%;
  min-height: 100vh;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  color: variables.$color-terciary;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: variables.$font-family;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;

  a {
    color: white !important;
    font-weight: 300 !important;
    text-decoration: none !important;

    &:hover {
      color: variables.$color-secondary !important;
      text-decoration: underline solid 0.1em !important;
      text-underline-offset: 0.3em !important;
      font-weight: 600 !important;
    }
  }
}
