*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #2f2f38;
  line-height: 1.5;
  width: 100%;
  min-height: 100vh;
  min-width: 360px;
  color: #bdd0d9;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

main {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  padding-top: 3em;
  padding-bottom: 6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #bdd0d9;
  height: fit-content;
}

.body a {
  color: white;
  font-weight: 300;
  text-decoration: none;
}

.body a:hover {
  color: #a4d88b;
  text-decoration: underline solid 0.1em;
  text-underline-offset: 0.3em;
  font-weight: 600;
}

main a {
  color: #a4d88b;
  text-decoration: underline solid 0.1em;
  text-transform: uppercase;
  text-underline-offset: 0.3em;
  font-weight: 600;
}

.button-primary {
  background-color: #a4d88b;
  color: rgb(37, 37, 42);
  font-size: medium;
  padding: 1.5em 1em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}

.text-sm {
  font-size: small;
}

.text-base {
  font-size: medium;
}

.text-lg {
  font-size: large;
}

.text-xl {
  font-size: x-large;
}

.text-2xl {
  font-size: xx-large;
}

.roboto-mono-100 {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.roboto-mono-200 {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.roboto-mono-400 {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-500 {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-600 {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-mono-700 {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-mono-100-italic {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

.roboto-mono-200-italic {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

.roboto-mono-300-italic {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.roboto-mono-400-italic {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.roboto-mono-500-italic {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.roboto-mono-700-italic {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.color-primary {
  color: rgb(37, 37, 42) !important;
}

.color-secondary {
  color: #a4d88b !important;
}

.color-terciary {
  color: #bdd0d9 !important;
}

.color-quaternary {
  color: #86d9ff !important;
}

.border {
  border: 1px solid #bdd0d9;
}

.border-t {
  border-top: 1px solid #bdd0d9;
}

.border-b {
  border-bottom: 1px solid #bdd0d9;
}

.border-l {
  border-left: 1px solid #bdd0d9;
}

.border-r {
  border-right: 1px solid #bdd0d9;
}

.border-t-2 {
  border-top: 2px solid #bdd0d9;
}

.border-b-2 {
  border-bottom: 2px solid #bdd0d9;
}

.border-l-2 {
  border-left: 2px solid #bdd0d9;
}

.border-r-2 {
  border-right: 2px solid #bdd0d9;
}

.border-radius {
  border-radius: 0.5rem;
}

.border-radius-2 {
  border-radius: 1rem;
}

.border-radius-4 {
  border-radius: 2rem;
}

.border-radius-8 {
  border-radius: 4rem;
}

.border-radius-1-2 {
  border-radius: 50%;
}

.card {
  background-color: #e3e9eb;
  color: rgb(37, 37, 42);
  border-radius: 0.5rem;
  margin: 1rem;
  border-left: 1em solid #86d9ff !important;
  border-right: 1em solid #86d9ff !important;
  max-width: 600px;
  text-align: justify;
  padding: 0.5rem;
  height: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  color: rgb(37, 37, 42);
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}

.card-body {
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: normal;
}

.card-footer {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.card-footer span {
  background-color: rgb(202, 202, 202);
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-weight: 400;
}

#img-perfil {
  padding: 20px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
}

#container-img-perfil {
  display: flex;
  width: 100%;
}

.section {
  color: #bdd0d9;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section p {
  quotes: '“' '”' '‘' '’';
}

.section article {
  max-width: 100%;
  width: 100%;
  height: 100%;
  text-align: justify;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 37, 42);
}

.section #experiencia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  max-height: 80px;
  background-color: transparent;
  margin-top: 4em;
}

.contactame-form-container {
  width: 100%;
}

.contactame-form-container form {
  background-color: white;
  min-width: fit-content;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: rgb(37, 37, 42);
  border-radius: 0.2em;
  max-width: 350px;
  max-height: fit-content;
}

.contactame-form-container form h3 {
  text-align: center;
  color: rgb(37, 37, 42);
}
.contactame-form-container .form-input {
  display: flex;
  flex-direction: column;
}
.contactame-form-container .form-input label {
  width: 100px;
  font-weight: 400;
}

.contactame-form-container .form-input input,
textarea {
  width: 100%;
  color: rgb(73, 73, 78) !important;
  border-radius: 0.2em;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.contactame-form-container .form-input textarea {
  height: 100px;
}

.contactame-mapa-container {
  width: 100%;
  height: 400px;
}

#contactame-mapa-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactame-redes-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  text-align: center;
  justify-content: center;
}

.contactame-redes-container i {
  font-size: 2em;
}

.contactame-redes-container span {
  font-size: 0.7em;
}

.footer {
  background-color: rgb(37, 37, 42);
  color: white;
  text-align: center;
  padding: 1em;
  width: 100%;
  height: fit-content;
  font-size: small;
  justify-content: space-between;
  overflow-x: hidden;
}

.footer i {
  font-size: 3em;
}

.footer strong {
  color: #a4d88b;
}

.footer .color-quaternary {
  font-weight: 700;
}

.footer a {
  color: white;
  font-weight: 300;
}

#nav-desktop {
  background-color: rgb(37, 37, 42);
  color: white;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

#nav-desktop i {
  font-size: 1.4em;
}

#nav-desktop ul {
  text-transform: uppercase;
}

#nav-desktop strong {
  color: #a4d88b;
}

#nav-desktop .color-quaternary {
  font-weight: 700;
}

#nav-mobile button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #bdd0d9;
  background-color: rgb(37, 37, 42);
  color: #bdd0d9;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
#nav-mobile button:hover {
  background-color: #bdd0d9;
  color: rgb(37, 37, 42);
}

.curriculum-date-container {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  background-color: #bdd0d9;
  color: rgb(37, 37, 42);
  padding: 10px;
  border-radius: 50%;
  border: 2px solid white;
}

.curriculum-date-container p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#curriculum-icon-container {
  font-size: xx-large;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills_section ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.skills_section li {
  display: flex;
  width: 100%;
}

.curriculum-descripcion p {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  justify-content: center;
  width: 100%;
  max-width: 250px;
}

.curriculum-descripcion strong {
  font-weight: 700;
  text-transform: uppercase;
}

#todos-los-proyectos-menu-container button {
  background-color: #f8f9fa;
  color: #495057;
  border: 1px solid #dee2e6;
  border-radius: 1em;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}

#todos-los-proyectos-menu-filtro-selected {
  background-color: #a4d88b !important;
  border: 2px solid #bdd0d9 !important;
}

#img-collage-perfil {
  padding: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 0.6em;
  border: 0.6em solid white;
  margin-top: 5em;
}

#container-img-collage-perfil {
  display: flex;
  width: 100%;
}

.section-elevator-pitch article {
  text-align: justify;
}

.contactame-datos-container {
  width: 100%;
}

.contactame-datos-container iframe {
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 768px) {
  #img-perfil {
    padding: 0px;
    max-width: 480px;
    max-height: 480px;
  }

  #container-img-perfil {
    width: 50%;
    flex-direction: column;
  }

  .section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .section article {
    max-height: 200px;
    max-width: 700px;
  }

  .section #experiencia {
    margin-top: 10em;
  }

  .contactame-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 50%;
  }

  .ultimos-trabajos {
    justify-content: space-between;
    min-height: 90vh;
  }

  .ultimos-trabajos .card {
    max-height: 400px;
  }

  .ultimos-trabajos .card-body p {
    -webkit-line-clamp: 12;
    line-clamp: 12;
  }

  .ultimos-trabajos .hidden p {
    color: rgba(255, 255, 255, 0.284);
    font-weight: 400;
    font-style: italic;
  }

  #img-collage-perfil {
    margin-top: 0px;
    max-width: 480px;
    max-height: 480px;
  }
}
