@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #2f2f38 !important;
  width: 100%;
  min-height: 100vh;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Roboto Mono", monospace !important;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: 16px !important;
}
body a {
  color: white !important;
  font-weight: 300 !important;
  text-decoration: none !important;
}
body a:hover {
  color: #a4d88b !important;
  text-decoration: underline solid 0.1em !important;
  text-underline-offset: 0.3em !important;
  font-weight: 600 !important;
}

header li a {
  font-weight: 400 !important;
}

#navbar-burger {
  color: #bdd0d9;
}

#nav-desktop {
  background-color: rgb(37, 37, 42);
  color: white;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
#nav-desktop i {
  font-size: 1.4em;
}
#nav-desktop ul {
  text-transform: uppercase;
}
#nav-desktop strong {
  color: #a4d88b;
}
#nav-desktop .color-quaternary,
#nav-desktop li .active {
  color: #86d9ff !important;
  font-weight: 700;
}

.footer {
  background-color: rgb(37, 37, 42);
  color: white;
  text-align: center;
  padding: 1em;
  width: 100%;
  height: fit-content;
  font-size: small;
  justify-content: space-between;
  overflow-x: hidden;
}
.footer i {
  font-size: 3em;
}
.footer strong {
  color: #a4d88b;
}
.footer .color-quaternary {
  font-weight: 700;
}
.footer a {
  color: white;
  font-weight: 300;
}

main {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  padding-top: 3em;
  padding-bottom: 6em;
}
main a {
  color: #a4d88b;
  text-decoration: underline solid 0.1em;
  text-transform: uppercase;
  text-underline-offset: 0.3em;
  font-weight: 600;
}

.skill_board {
  display: grid;
  grid-template-columns: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #bdd0d9;
  height: fit-content;
}

.button-primary {
  background-color: #a4d88b;
  color: rgb(37, 37, 42);
  font-size: medium;
  padding: 1.5em 1em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}

.text-sm {
  font-size: small;
}

.text-base {
  font-size: medium;
}

.text-lg {
  font-size: large;
}

.text-xl {
  font-size: x-large;
}

.text-2xl {
  font-size: xx-large;
}

.roboto-mono-100 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.roboto-mono-100-italic {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

.roboto-mono-200 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.roboto-mono-200-italic {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

.roboto-mono-400 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-400-italic {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.roboto-mono-500 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-500-italic {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.roboto-mono-600 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-mono-600-italic {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.roboto-mono-700 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-mono-700-italic {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.color-primary {
  color: rgb(37, 37, 42) !important;
}

.color-secondary {
  color: #a4d88b !important;
}

.color-terciary {
  color: #bdd0d9 !important;
}

.color-quaternary {
  color: #86d9ff !important;
}

.border-top {
  border-top: 1px solid #bdd0d9;
}

.border-top-2 {
  border-top: 2px solid #bdd0d9;
}

.border-bottom {
  border-bottom: 1px solid #bdd0d9;
}

.border-bottom-2 {
  border-bottom: 2px solid #bdd0d9;
}

.border-left {
  border-left: 1px solid #bdd0d9;
}

.border-left-2 {
  border-left: 2px solid #bdd0d9;
}

.border-right {
  border-right: 1px solid #bdd0d9;
}

.border-right-2 {
  border-right: 2px solid #bdd0d9;
}

.border {
  border: 1px solid #bdd0d9;
}

.border-radius {
  border-radius: 0.5rem;
}

.border-radius-2 {
  border-radius: 1rem;
}

.border-radius-4 {
  border-radius: 2rem;
}

.border-radius-8 {
  border-radius: 4rem;
}

.border-radius-1-2 {
  border-radius: 50%;
}

.custom-card {
  background-color: white;
  color: rgb(37, 37, 42);
  border-radius: 0.5rem;
  margin: 1rem;
  border-left: 1em solid #86d9ff;
  border-right: 1em solid #86d9ff;
  max-width: 600px;
  text-align: justify;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  transition: height 0.5s ease-in-out !important;
}
.custom-card:hover {
  height: 400px;
}
.custom-card-header {
  padding: 0.5em 0;
  color: rgb(37, 37, 42);
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.custom-card-header h4 {
  text-wrap: nowrap;
  font-size: 1.1em;
}
.custom-card-header a {
  color: #a4d88b !important;
  font-weight: 500 !important;
  text-decoration: none;
}
.custom-card-header a:hover {
  text-decoration: underline;
}
.custom-card-body {
  padding: 0.5em 0;
  overflow-y: auto;
  height: 60%;
  background-color: white;
  border-top: 1px solid #86d9ff;
  border-bottom: 1px solid #86d9ff;
}
.custom-card-footer {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0.5em 0;
  overflow-y: auto;
  height: fit-content;
  align-items: center;
}
.custom-card-footer span {
  background-color: rgb(202, 202, 202);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  font-weight: 400;
  font-size: 0.9em;
  height: fit-content;
}

#img-perfil {
  margin-top: 20px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(37, 37, 42);
  object-fit: cover;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
  animation: glow 10s ease-in-out infinite;
}

#container-img-perfil {
  display: flex;
  width: 100%;
}

.mainprofile-section {
  color: #bdd0d9;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.mainprofile-section p {
  quotes: "“" "”" "‘" "’";
}
.mainprofile-section article:first-child {
  height: fit-content;
}
.mainprofile-section article {
  max-width: 100%;
  width: 100%;
  height: 100%;
  text-align: justify;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 37, 42);
}
.mainprofile-section #experiencia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  max-height: 80px;
  background-color: transparent;
  margin-top: 4em;
}

.contactame-form-container {
  width: 100%;
}
.contactame-form-container form {
  background-color: white;
  min-width: fit-content;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: rgb(37, 37, 42);
  border-radius: 0.2em;
  max-width: 350px;
  max-height: fit-content;
}
.contactame-form-container form h3 {
  text-align: center;
  color: rgb(37, 37, 42);
}
.contactame-form-container form .form-input {
  display: flex;
  flex-direction: column;
}
.contactame-form-container form .form-input label {
  width: 100px;
  font-weight: 400;
}
.contactame-form-container form .form-input input,
.contactame-form-container form .form-input textarea {
  width: 100%;
  color: rgb(73, 73, 78) !important;
  border-radius: 0.2em;
  border: 2px solid rgba(0, 0, 0, 0.2);
}
.contactame-form-container form .form-input textarea {
  height: 100px;
}

.contactame-mapa-container {
  width: 100%;
  height: 400px;
}
.contactame-mapa-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactame-redes-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  text-align: center;
  justify-content: center;
}
.contactame-redes-container i {
  font-size: 2em;
}
.contactame-redes-container span {
  font-size: 0.7em;
}

#todos-los-proyectos-menu-container button {
  background-color: #f8f9fa;
  color: #495057;
  border: 1px solid #dee2e6;
  border-radius: 1em;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}

#todos-los-proyectos-menu-filtro-selected {
  background-color: #a4d88b !important;
  border: 2px solid #bdd0d9;
}

#img-collage-perfil {
  padding: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 0.6em;
  border: 0.6em solid white;
  margin-top: 5em;
}

#container-img-collage-perfil {
  display: flex;
  width: 100%;
}

.section-elevator-pitch article {
  text-align: justify;
}

.contactame-datos-container {
  width: 100%;
}
.contactame-datos-container iframe {
  width: 100%;
  height: 400px;
}

.skills_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.skills_section ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  padding: 0;
  justify-content: center;
}
.skills_section li {
  display: flex;
  min-width: fit-content;
  width: 300px;
  height: fit-content;
}

.skill-card {
  background: rgb(255, 255, 255);
  height: 100%;
  max-height: fit-content;
  width: 100%;
  max-width: 20rem;
  padding: 1em;
  color: #2f2f38;
  border-radius: 10px;
  border: 2px solid #bdd0d9;
  font-weight: 400;
  transition: border 0.5s ease-in-out;
}
.skill-card:hover {
  border: 4px solid #bdd0d9;
  cursor: pointer;
}
.skill-card p {
  margin-bottom: 0;
}
.skill-card-header {
  display: flex;
  align-items: center;
}
.skill-card-header strong {
  text-transform: uppercase;
}
.skill-card-date {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  background-color: #bdd0d9;
  color: rgb(37, 37, 42);
  padding: 10px;
  border-radius: 50%;
  border: 2px solid white;
  scale: 0.9;
}
.skill-card-date p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.skill-card-title {
  margin-left: 1rem;
}
.skill-card-title p {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.skill-card-description {
  opacity: 0;
  max-height: 0;
  overflow-y: scroll;
  height: fit-content;
  background-color: #f3f3f3;
  border-radius: 0.5em;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}
.skill-card-description p {
  text-align: justify;
  color: #5a5c5e;
}
.skill-card-description ul {
  list-style-type: circle;
}
.skill-card:active .skill-card-description, .skill-card:hover .skill-card-description {
  padding: 0.5em;
  margin-top: 1em;
  opacity: 1;
  max-height: 200px;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #2f2f38;
    border: 10px solid #2f2f38;
  }
  25% {
    box-shadow: 0 0 40px blue;
    border: 10px solid blue;
  }
  50% {
    box-shadow: 0 0 40px #a4d88b;
    border: 10px solid #a4d88b;
  }
  75% {
    box-shadow: 0 0 40px #86d9ff;
    border: 10px solid #86d9ff;
  }
  100% {
    box-shadow: 0 0 10px #2f2f38;
    border: 10px solid #2f2f38;
  }
}
.glow-gradient {
  animation: glow 10s ease-in-out infinite;
}

@media screen and (min-width: 768px) {
  .custom-card h4 {
    text-wrap: nowrap;
    font-size: 1.3em;
  }
  .custom-card-header {
    flex-direction: row;
  }
  #img-perfil {
    padding: 0px;
    margin-top: 0px;
    max-width: 480px;
    max-height: 480px;
  }
  #container-img-perfil {
    width: 50%;
    flex-direction: column;
  }
  .section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .section article {
    max-height: 200px;
    max-width: 700px;
  }
  .section #experiencia {
    margin-top: 10em;
  }
  .skill_board {
    grid-template-columns: 50% 50%;
  }
  .contactame-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 50%;
  }
  .ultimos-trabajos {
    min-height: 90vh;
  }
  .ultimos-trabajos .hidden p {
    color: rgba(255, 255, 255, 0.284);
    font-weight: 400;
    font-style: italic;
  }
  #img-collage-perfil {
    margin-top: 0px;
    max-width: 480px;
    max-height: 480px;
  }
}

/*# sourceMappingURL=style.css.map */
