$background-color: #2f2f38;
$color-primary: rgb(37, 37, 42);
$color-secondary: #a4d88b;
$color-terciary: #bdd0d9;
$color-quaternary: #86d9ff;
$font-family: 'Roboto Mono', monospace;

// Mixin for border styles
@mixin border($direction: all, $width: 1px, $color: $color-terciary) {
  @if $direction == all {
    border: $width solid $color;
  } @else {
    border-#{$direction}: $width solid $color;
  }
}

// Mixin for text colors
@mixin text-color($color) {
  color: $color !important;
}

// Mixin for font styles
@mixin font-style($weight, $style: normal) {
  font-family: $font-family;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  // Tuve que poner todo en important porque si no seguia tomando los estilos del reset de bootstrap
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px !important;
  background-color: $background-color !important;
  line-height: 1.5 !important;
  width: 100% !important;
  min-height: 100vh !important;
  min-width: 360px !important;
  color: $color-terciary !important;
  display: flex !important;
  flex-direction: column !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  font-family: $font-family !important;
  font-optical-sizing: auto !important;
  font-weight: 300 !important;
  font-style: normal !important;

  a {
    color: white !important;
    font-weight: 300 !important;
    text-decoration: none !important;

    &:hover {
      color: $color-secondary !important;
      text-decoration: underline solid 0.1em !important;
      text-underline-offset: 0.3em !important;
      font-weight: 600 !important;
    }
  }
}

main {
  width: 100%;
  height: 100%;
  min-height: 80vh;
  padding-top: 3em;
  padding-bottom: 6em;

  a {
    color: $color-secondary;
    text-decoration: underline solid 0.1em;
    text-transform: uppercase;
    text-underline-offset: 0.3em;
    font-weight: 600;
  }
}

header {
  li {
    a {
      font-weight: 400 !important;
    }
  }
}

.skill_board {
  display: grid;
  grid-template-columns: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-terciary;
  height: fit-content;
}

.button-primary {
  background-color: $color-secondary;
  color: $color-primary;
  font-size: medium;
  padding: 1.5em 1em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}

.text-sm {
  font-size: small;
}

.text-base {
  font-size: medium;
}

.text-lg {
  font-size: large;
}

.text-xl {
  font-size: x-large;
}

.text-2xl {
  font-size: xx-large;
}

@each $weight in (100, 200, 400, 500, 600, 700) {
  .roboto-mono-#{$weight} {
    @include font-style($weight);
  }

  .roboto-mono-#{$weight}-italic {
    @include font-style($weight, italic);
  }
}

.color-primary {
  @include text-color($color-primary);
}

.color-secondary {
  @include text-color($color-secondary);
}

.color-terciary {
  @include text-color($color-terciary);
}

.color-quaternary {
  @include text-color($color-quaternary);
}

@each $direction in (top, bottom, left, right) {
  .border-#{$direction} {
    @include border($direction);
  }

  .border-#{$direction}-2 {
    @include border($direction, 2px);
  }
}

.border {
  @include border();
}

.border-radius {
  border-radius: 0.5rem;
}

.border-radius-2 {
  border-radius: 1rem;
}

.border-radius-4 {
  border-radius: 2rem;
}

.border-radius-8 {
  border-radius: 4rem;
}

.border-radius-1-2 {
  border-radius: 50%;
}

.card {
  background-color: #e3e9eb;
  color: $color-primary;
  border-radius: 0.5rem;
  margin: 1rem;
  @include border(left, 1em, $color-quaternary);
  @include border(right, 1em, $color-quaternary);
  max-width: 600px;
  text-align: justify;
  padding: 0.5rem;
  height: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-header {
    color: $color-primary;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
  }

  &-body {
    overflow-y: auto;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &-footer {
    display: flex;
    justify-content: end;
    gap: 1rem;

    span {
      background-color: rgb(202, 202, 202);
      padding: 0.2rem;
      border-radius: 0.2rem;
      font-weight: 400;
    }
  }
}

#img-perfil {
  margin-top: 20px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid $color-primary;
  object-fit: cover;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
  animation: glow 10s ease-in-out infinite;
}

#container-img-perfil {
  display: flex;
  width: 100%;
}

.section {
  color: $color-terciary;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  p {
    quotes: '“' '”' '‘' '’';
  }

  article {
    max-width: 100%;
    width: 100%;
    height: 100%;
    text-align: justify;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
  }

  #experiencia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    max-height: 80px;
    background-color: transparent;
    margin-top: 4em;
  }
}

.contactame-form-container {
  width: 100%;

  form {
    background-color: white;
    min-width: fit-content;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: $color-primary;
    border-radius: 0.2em;
    max-width: 350px;
    max-height: fit-content;

    h3 {
      text-align: center;
      color: $color-primary;
    }

    .form-input {
      display: flex;
      flex-direction: column;

      label {
        width: 100px;
        font-weight: 400;
      }

      input,
      textarea {
        width: 100%;
        color: rgb(73, 73, 78) !important;
        border-radius: 0.2em;
        border: 2px solid rgba(0, 0, 0, 0.2);
      }

      textarea {
        height: 100px;
      }
    }
  }
}

.contactame-mapa-container {
  width: 100%;
  height: 400px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contactame-redes-container {
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    text-align: center;
    justify-content: center;
  }

  i {
    font-size: 2em;
  }

  span {
    font-size: 0.7em;
  }
}

.footer {
  background-color: $color-primary;
  color: white;
  text-align: center;
  padding: 1em;
  width: 100%;
  height: fit-content;
  font-size: small;
  justify-content: space-between;
  overflow-x: hidden;

  i {
    font-size: 3em;
  }

  strong {
    color: $color-secondary;
  }

  .color-quaternary {
    font-weight: 700;
  }

  a {
    color: white;
    font-weight: 300;
  }
}

#nav-desktop {
  background-color: $color-primary;
  color: white;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;

  i {
    font-size: 1.4em;
  }

  ul {
    text-transform: uppercase;
  }

  strong {
    color: $color-secondary;
  }

  .color-quaternary,
  li .active {
    @include text-color($color-quaternary);
    font-weight: 700;
  }
}

#todos-los-proyectos-menu-container {
  button {
    background-color: #f8f9fa;
    color: #495057;
    border: 1px solid #dee2e6;
    border-radius: 1em;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
  }
}

#todos-los-proyectos-menu-filtro-selected {
  background-color: $color-secondary !important;
  @include border(all, 2px, $color-terciary);
}

#img-collage-perfil {
  padding: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 0.6em;
  @include border(all, 0.6em, white);
  margin-top: 5em;
}

#container-img-collage-perfil {
  display: flex;
  width: 100%;
}

.section-elevator-pitch {
  article {
    text-align: justify;
  }
}

.contactame-datos-container {
  width: 100%;

  iframe {
    width: 100%;
    height: 400px;
  }
}

.skills_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    padding: 0;
    justify-content: center;
  }

  li {
    display: flex;
    min-width: fit-content;
    width: 300px;
    height: fit-content;
  }
}

.skill-card {
  background: rgb(255, 255, 255);
  height: 100%;
  max-height: fit-content;
  width: 100%;
  max-width: 20rem;
  padding: 1em;
  color: $background-color;
  border-radius: 10px;
  @include border(all, 2px, $color-terciary);
  font-weight: 400;
  transition: border 0.5s ease-in-out;

  &:hover {
    @include border(all, 4px, $color-terciary);
    cursor: pointer;
  }

  p {
    margin-bottom: 0;
  }

  &-header {
    display: flex;
    align-items: center;

    strong {
      text-transform: uppercase;
    }
  }

  &-date {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    background-color: $color-terciary;
    color: $color-primary;
    padding: 10px;
    border-radius: 50%;
    @include border(all, 2px, white);
    scale: 0.9;

    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }

  &-title {
    margin-left: 1rem;

    p {
      display: flex;
      height: 100%;
      flex-direction: column;
    }
  }

  &-description {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    height: fit-content;
    background-color: #f3f3f3;
    border-radius: 0.5em;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out,
      margin-top 0.5s ease-in-out;

    p {
      text-align: justify;
      color: #5a5c5e;
    }

    ul {
      list-style-type: circle;
    }
  }

  &:active &-description,
  &:hover &-description {
    padding: 0.5em;
    margin-top: 1em;
    opacity: 1;
    max-height: 200px;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px $background-color;
    border: 10px solid $background-color;
  }
  25% {
    box-shadow: 0 0 40px blue;
    border: 10px solid blue;
  }
  50% {
    box-shadow: 0 0 40px $color-secondary;
    border: 10px solid $color-secondary;
  }
  75% {
    box-shadow: 0 0 40px $color-quaternary;
    border: 10px solid $color-quaternary;
  }
  100% {
    box-shadow: 0 0 10px $background-color;
    border: 10px solid $background-color;
  }
}

.glow-gradient {
  animation: glow 10s ease-in-out infinite;
}

@media screen and (min-width: 768px) {
  #img-perfil {
    padding: 0px;
    margin-top: 0px;

    max-width: 480px;
    max-height: 480px;
  }

  #container-img-perfil {
    width: 50%;
    flex-direction: column;
  }

  .section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    article {
      max-height: 200px;
      max-width: 700px;
    }

    #experiencia {
      margin-top: 10em;
    }
  }

  .skill_board {
    grid-template-columns: 50% 50%;
  }

  .contactame-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 50%;
  }

  .ultimos-trabajos {
    justify-content: space-between;
    min-height: 90vh;

    .card {
      max-height: 400px;

      &-body p {
        -webkit-line-clamp: 12;
        line-clamp: 12;
      }
    }

    .hidden p {
      color: rgba(255, 255, 255, 0.284);
      font-weight: 400;
      font-style: italic;
    }
  }

  #img-collage-perfil {
    margin-top: 0px;
    max-width: 480px;
    max-height: 480px;
  }
}
